/******************************************
/* This is a mobile first design
/*******************************************/


/******************************************
/* BASE
/*******************************************/
*, *:before, *:after {
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

@font-face {
	font-family: 'sugar plum';
	src: url('../fonts/sugarplums/sugar_plums/sugar_plums.otf');
}

/******************************************
/* PAGE BOILER PLATE
/*******************************************/
html {
	font-size: 16px;
}	
aside {
	display: none;
}


.header {
	text-align: center;
	position: relative;
}

#logo {
	height: 50%;
	width: 50%;
}

#tagline {
	font-family: 'Open Sans', sans-serif;
	padding: 3px 70px;
	font-size: 1rem;
}

img {
	margin: 0 auto;
	width: 80%;
	height: auto;
	padding: 5px 10px;
}

p {
	font-family: 'Arvo', serif;
	padding: 10px 25px;
	line-height: 1.5;
	text-align: justify;
}

span {
	text-align: center;
}

a {
	font-family: 'Arvo', serif;
	color: black;
}


/******************************************
/* NAV BAR
/*******************************************/
.hamburger {
	padding: 2px 6px;
	font-size: 1.75rem;
}
/* How do you get the nav bar to start hidden
in the hamburger, 
instead of showing? Is that a JS thing?*/
.nav {
	text-align: left;
	font-family: 'Arvo', serif;
	padding: 5px 25px;
	margin-bottom: 10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 1.2rem;
}

.nav a {
	color: black;
	text-decoration: none;
}

.nav li{
	text-align: left;
	list-style: none;
	display: block;
	padding: 2px 6px;
}

.nav ul {
	text-align: center;
	padding: 0;
}

.dropbtn {
	background-color: white;
	font-family: 'Arvo', serif;
	color: black;
	font-size: 100%;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    border: 1px solid #999;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 3px 3px;
}

/******************************************
/* HOME PAGE (INDEX) STYLES
/*******************************************/

.slide {
	margin: 0 auto;
	max-width: 80%;
}

.posts {
	text-align: center;
}

.title {
	text-align: left;
	margin-bottom: 3px;
	font-size: 1.1rem;
	font-family: 'Open Sans', sans-serif;
	color: black;
	border-top: 3px solid #92819f;
	border-bottom: 3px solid #92819f;
	padding: 5px 5px 5px 25px;
}

.month {
	font-family: 'Sugar Plum', sans-serif;
	font-size: 1.25rem;
	transition: color 0.1s ease;
}

a {
	transition: color 0.1s ease;
}

.month:hover {
	color: #ff9390;
}

.readmorebtn {
	font-family: 'Open Sans', serif;
	text-align: center;
	border: 1px solid #F5F5F5;
	max-width: 94%;
	margin: 0 auto 10px;
	transition: background-color 0.3s ease;
	transition: color 0.1s ease;
	padding: 10px;
	display: block;
}

.readmorebtn:hover {
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
}

.show-this-on-click {
	display: none;
}

/******************************************
/* SERIES PAGE STYLES
/*******************************************/

.blog-header {
	text-align: center;
}

/******************************************
/* BLOG PAGE STYLES
/*******************************************/
.iconsbtm p {
	text-align: center;
}

.fa-home, .fa-arrow-left, .fa-arrow-right {
	font-size: 1.75rem;
	padding: 10px 30px;
}



/******************************************
/* ABOUT / CONTACT / HELP PAGE STYLES
/*******************************************/

.hide {
	display: none;
}

fieldset, label, span, textarea {
	font-family: 'Open Sans', sans-serif;
}

fieldset, label, span {
	text-align: center;
}

label {
	padding: 0px 10px;
	font-size: 1.2rem;
}

legend {
	padding: 0px 10px;
}

fieldset {
	border: 3px solid #92819f;
	margin: 20px;
}

.google-map {
	width: 60%;
	height: 200px;
	margin: 20px 50px;
}

.help {
	padding: 3% 20%;
}


/******************************************
/* FOOTER
/*******************************************/

.footer {
	background-color: #ffd77a;
	list-style: none;
	display: block;
	text-align: center;
	padding-bottom: 5px;
}

#logofoot {
	height: 80px;
	width: 90px;
	text-align: center;
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-iteration-count: linear;
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.scrollToTop {
	text-align: center; 
	background: white;
	font-weight: bold;
	color: black;
	text-decoration: none;
	background-color: #ffd77a;
	font-size: 1.2rem;

}



/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (min-width: 600px) {
	/*LARGE PHONE OR TABLET*/
	#logo {
		width: 300px;
		height: 290px;
	}

}

@media screen and (min-width: 768px) {
	/*IPAD*/
	a:hover {
		color: #ff9390;
	}

	/*PAGE LAYOUT*/
	.column {
		float: left;
		padding: 0px 3%;
	}

	.column:last-child {
		margin-right: 0;
	}

	.two-columns.has-sidebar .column:first-child {
		width: 70%;
	}

	.two-columns.has-sidebar .column:last-child {
		width: 27%;
	}

	/*SIDE BAR*/

	aside {
		display: block;
	}

	#logo {
		height: 25%;
		width: 25%;
	}

	#search {
		text-align: center;
	}

	#profile {
		margin: 0 auto;
		text-align: center;
	}

	.profilepic {
		border-radius: 360px;
	}

	#icons {
		font-size: 1.75rem;
		text-align: center;
		margin: 10px;
	}

	.fa-facebook-square, .fa-instagram, .fa-twitter-square {
		padding: 10px;
		display: inline-block;
		transition: color 0.2s ease;
	}

	.fa-facebook-square:hover {
		color: #ff9390;
	}

	.fa-instagram:hover {
		color: #ff9390;
	}

	.fa-twitter-square:hover {
		color: #ff9390;
	}

	.upcoming {
		margin: 5% 5%;
		width: 90%;
		height: auto;
	}


	/*NAV*/      
	/* Doesn't fall back into a straight line? */

	.nav {
		text-align: center;
		font-family: 'Arvo', serif;
		padding: 5px 0px;
		margin-bottom: 10px;
		font-size: 1rem;
	}

	.nav a {
		padding: 0px 80px;
		transition: color 0.1s ease;
	}

	.nav a:hover {
		color: #ff9390;
	}

	.nav li {
		display: inline-block;
	}

	.dropbtn {
		padding: 0px 80px;
		transition: color 0.1s ease;
	}

	.dropbtn:hover {
		color: #ff9390;
	}

	.dropdown-content {
		min-width: 160px;
		transition: color 0.1s ease;
	}

	.dropdown-content a:hover {
		background-color: #f1f1f1;
	}

	.dopdown:hover .dropdown-content {
		display: block;
	}

	.hamburger {
		display: none; /* Doesn't seem to work? */
	}

	/*HOME PAGE (INDEX)*/
	#tagline {
		padding: 10px 0px 15px 0px;
		font-size: 1.5em;
	}

	.read-more img {
		margin: 10px 0px;
		max-width: 80%;
		height: 80%;
	}

	.google-map {
		width: 40%;
		height: 200px;
	}


@media screen and (min-width: 1024px) {
	/*DESKTOP*/
}
	.slide {
		max-width: 50%;

	}

}










